<h1>Mostrar datos de la categoria</h1>
<hr>
<%= link_to 'volver', categories_path %>
<h3><strong>Categoria: </strong><%= @categoria.categoria %></h3>
<h3><strong>Descripcion: </strong><%= @categoria.descripcion %></h3>
<hr>

