
<%= link_to "Crear autor", new_author_path %>
<br/>
<table>
    <thead>
          <tr>
                <th>Nombre</th>
                <th>Nacionalidad</th>
                <th>Idioma</th>
                <th>Acciones</th>
          </tr>
    </thead>
    <tbody>
      <!-- render partial es el formulario y @autores es la variable de instancia que viene desde controller authors index-->
       <%= render partial: "autor", collection: @autores %>
    </tbody>
</table>
