<br>
<br>
<%= link_to 'back', :back %>
<h1>Mostrar datos de autor</h1>
<h3><strong>Nombre:</strong> <%= @author.nombre %></h3>
<h3><strong>Nacionalidad:</strong> <%= @author.nacionalidad %></h3>
<h3><strong>Idioma:</strong> <%= @author.idioma %></h3>