<h1>Usuario Encontrado</h1>
<hr>
<h3><strong>Nombre: </strong><%= @user.nombre %></h3>
<h3><strong>Edad: </strong><%= @user.edad %></h3>
<h3><strong>Telefono: </strong><%= @user.telefono %></h3>
<h3><strong>Direccion: </strong><%= @user.direccion %></h3>
<hr>