<table>
    <thead>
          <tr>
              <th>Titulo</th>
              <th>Idioma</th>
              <th>Paginas</th>
              <th>Descripcion</th>
              <th>Autor</th>
              <th>Categoria</th>
              <th>Editorial</th>

          </tr>
    </thead>
    <tbody>
    <!--render partial: libro es el formulario _form de books y @books es la variable de instancia que viene del controlador books del metodof index -->
    <%= render partial: "libro", collection: @books %>
    </tbody>
</table>
