<table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Pais</th>
                <th>Telefono</th>
            </tr>
        
        </thead>

        <tbody>
            <%@editoriales.each do |edit| %>
                <tr>
                    <td><%= edit.nombre %></td>
                    <td><%= edit.pais %></td>
                    <td><%= edit.telefono %></td>
                    <td><%= link_to 'Mostrar libros', editorial_books_path(edit) %></td>
                
                </tr>
            <%end%>
        </tbody>


</table>