<br>
<br>
<%= flash[:notice] %>
<%= link_to 'Ingresar Nuevo', new_editorial_path %>
 
<table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Pais</th>
                <th>Telefono</th>
            </tr>
        
        </thead>
        
        <tbody>
        
         <%= render partial: "editorial" , collection: @editoriales%>
        </tbody>


</table>