<h1>Editorial Mostrada</h1>
<hr>
<h3><strong>Nombre: </strong><%= @editorial.nombre %></h3>
<h3><Strong>Pais: </Strong><%= @editorial.pais %></h3>
<h3><strong>Telefono: </strong><%= @editorial.telefono %></h3>
<hr>